@page "/"

<PageTitle>CoDraw</PageTitle>

<div>
    <EditForm Model="Config">

        <InputNumber @bind-Value="@Config.StrokeThickness"/>
        <br/>
        <span>Select Specs</span>
        <br/>
        <InputRadioGroup Name="color" TValue="string" @bind-Value="@Config.StrokeColor">
            <InputRadio Name="color" Value="@("Red")"/>Red<br/>
            <InputRadio Name="color" Value="@("Black")"/>Black<br/>
            <InputRadio Name="color" Value="@("Green")"/>Green<br/>
        </InputRadioGroup>
    </EditForm>
</div>


<div style="background-color: gray; width: 1000px;"
     @onkeydown="KeyDown"
     @onkeyup="KeyUp"
     @onmousemove="MouseMove"
     @onmousedown="MouseDown"
     @onmouseup="MouseUp"
     @onmouseout="MouseOut">
    <BECanvas Width="1000" Height="1000" @ref="_canvasReference">

    </BECanvas>

</div>